services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: medication_prescrebing
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: "root"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    ports:
      - "127.0.0.1:8080:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: user
      PMA_PASSWORD: password
    depends_on:
      - db

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

volumes:
  db_data: